@import "../variables";

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  //width: 1215px;
  margin-left: auto;
  margin-right: auto;

  .container {
    display: flex;
    justify-content: center !important;
  }

  .logo {
    width: 236px;
  }

  .navbar-nav {
    //display: flex;

    .nav-link {
      text-decoration: none;
      display: inline-block;
      color: #56509F !important;
      text-align: center;
      padding: 15px 10px 26px;

      &.svg-link {
        padding-top: 26px;
      }

      .svg-icon {
        padding: 4px;
        margin: 7px;
        width: 45px;
        fill: #56509F;
      }

      .cart-icon {
        margin-right: 9px;
      }

      &:hover, &.active {
        background: $orange;
        color: white;

        .svg-icon {
          fill: white;
        }
      }

      i {
        font-size: 30px;
        padding: 20px;
      }
      .link-title {
        font-size: 16px;
        display: block;
      }


    }
  }
}

@media (max-width: 768px) {
  .navbar {
    .logo {
      width: 160px;
    }
  }
}