.slider-wrapper {
  height: 600px;

  .home-slider {
    height: 100%;
    .slick-list {
      height: 100%;
      .slick-track {
        height: 100%;
        .slick-slide {
          height: 100%;
          div {
            height: 100%;
          }
        }
        .slider-img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .slider-wrapper {
    height: 250px;
  }
}